.h-wap{
    width:100%;
    text-align: center;
   
}
.h-cont-wap{
    overflow: hidden;
    margin:0 auto;
    width:1200px;
    margin-bottom:18px;
   
}
.h-cont-wap .h-cont{
    width:1030px;
    height:45px;
    border-bottom: 2px solid #f6f6f6;
}
.h-cont .text{
    float: left;
    padding:12px 35px;
    font-size:12px;
}
.h-cont .txt{
    background:#00cefd;
    height:25px;
    width:116px;
    padding:0px 0px;
    line-height: 25px;
    margin-top: 10px;
    color:#fff;
    border-radius: 30px;
}
.h-cont .h-hend{
    text-align: center;
}
.h-slideshow-wap{
width:1200px;
margin:0 auto;

margin-bottom: 58px;
}
.h-slideshow-wap img{
    padding:0 3px;
   
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .h-wap {
      width:1040px;
      margin:0 auto;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
