/* Make the image fully responsive */
.carousel-inner {
    width: 1200px;
    margin: auto;
}

.kuan{
    width:1200px;
    height:800px;
    margin: auto;
}

.carousel-inner img {
    width: 940px;;
    height: 600px;
    position: relative;
    
}

.bigg {
    width: 100%;
    height:800px;
}

.box {
    width: 1200px;
    margin-left: 200px;
}

.carousel {
    width: 80%;
   
}

.leftimg {
    width: 200px;
    height: 300px;
    position: absolute;
    left:5%;
    top: 25%;
    z-index: 5;
}

.txt{
    width:100%;
    height:112px;
    text-align: center;
}
.study{
    font-size: 26px;
    margin-bottom: 10px;
}
.jin{
    font-size: 12px;
    color:grey;
}