
.head_box{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.head_tex{
    margin: 20px auto;
    width:270px;
    height: 60px;
    background: #3399FF;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.head_tu{
    margin: 20px auto;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.head_tu>img{
    width: 140px;
    height: 160px;
}
.head_lj{
width: 150px;
height: 40px;
border: 2px solid #528CB3;
border-radius: 20px;
margin: 20px auto;
line-height: 36px;
text-align: center;
color: #528CB3;
}

.head_lj:hover{
    cursor: pointer;
}
.head_hj{
    width: 1200px;
    margin: 0 auto;
}

.head_one{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    font-size: 25px;
}
.head_two{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    color: #CECECE;
}
.head_tuu{
    height:300px;
}
.head_tuu_one{
    margin-left: 330px;
    margin: 0 100px;
}
.head_tuu_one>img{
    height: 300px;
}
.head_tuu_two{
    margin: -300px 470px;
    width: 620px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.head_tuu_two>img{
    width: 200px;
    height: 147px;
}
