<link rel="stylesheet" href="./CSS/body.css">
<link rel="stylesheet" href="../swiper-Swiper4/dist/css/swiper.css">
<script src="./swiper-Swiper4/dist/js/swiper.min.js"></script>
<div class="h-wap">
    <div class="h-hend">
        <p style="font-size:26px;margin-top:10px;">大华教育精英教师团队</p>
        <p style="font-size:12px;color:#b0b0b0;margin-top:-10px;">不跟风，不吹嘘，对学生负责到底</p>
    </div>
    <div class="h-cont-wap">
        <div class="h-cont">
            <div class="text txt" @click="a"><b>UI/UE设计</b></div>
            <div class="text"><b>H5全栈工程师</b></div>
            <div class="text"><b>JAVA+大数据</b></div>
            <div class="text"><b>Python+人工智能</b></div>
        </div>
    </div>     
    <!--  <div class="h-slideshow-wap">
        <img style="width:40px;height:40px; border-radius: 50%; background:#f6f6f6;" src="./image/左边箭头.png" alt="#">
        <img src="./image/大华教育官网_03.png" alt="#">
        <img src="./image/大华教育官网_05.png" alt="#">111
        <img src="./image/大华教育官网_07.png" alt="#">
        <img src="./image/大华教育官网_09.png" alt="#">
        <img style="width:40px;height:40px; border-radius: 50%;background:#f6f6f6;""  src=" ./image/右边-箭头.png" alt="#">
    </div>  -->
    <!-- Swiper -->
    
    <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="./image/大华教育官网_03.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_05.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_07.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_09.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_03.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_05.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_07.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_09.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_03.png" alt="#"></div>
      <div class="swiper-slide"><img src="./image/大华教育官网_05.png" alt="#"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Swiper JS -->
  <script src="../dist/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
    

</div>
<!-- Swiper JS -->
<script src="../dist/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
     var swiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      //slidesPerView : 'auto', 
    });
</script>